<%= form_with(model: message, url: chat_messages_path(chat_id: message.chat), id: "#{dom_id(message.chat)}-messages-form", class: "w-full", data: { controller: "chat" }) do |form| %>
  <%= render "error_messages", resource: form.object %>

  <div class="flex flex-col p-2 bg-gray-700 rounded-3xl">
    <%= form.textarea :content,
                      class: "ring-0 resize-none bg-transparent border-none w-full text-white placeholder:text-white",
                      placeholder: "Ask anything",
                      rows: 1,
                      data: {
                        action: "keydown->chat#handleKeydown input->chat#autoResize",
                        chat_target: "input",
                      } %>

    <div class="flex justify-end">
      <%= form.button class: "bg-white text-gray-700 rounded-full w-8 h-8 flex items-center justify-center cursor-pointer" do %>
        <%= button_text do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 10l7-7m0 0l7 7m-7-7v18"/>
          </svg>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
