<div id="<%= dom_id chat %>">
  <div class="mb-4">
    <% if action_name != "show" %>
      <%= link_to chat, class: "btn btn-secondary" do %>
        <%= chat.title %>
      <% end %>
    <% else %>
      <%= chat.title %>
    <% end %>
  </div>

  <div>
    <%= render partial: "messages/message", collection: @chat.messages, as: :message, cached: true %>
  </div>
</div>
