<%= turbo_stream_from @chat %>

<%= content_for :title do %>
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Chats", chats_path, class: "text-black dark:text-white" %>
      <span class="text-gray-400 font-light mx-2"> > </span>
      <%= @chat.title %>
    </h1>

    <%= render "components/vertical_menu_btn" %>
  </div>
<% end %>

<div class="container px-4 mx-auto my-8">
  <div class="p-8 bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded shadow">
    <%= render @chat %>
  </div>
</div>
