<!DOCTYPE html>
<html class="<%= class_names(dark: current_user&.dark_theme?, "hotwire-native": hotwire_native_app?) %>" lang="<%= I18n.locale %>">
<head>
  <%= render "head" %>
</head>
<body data-controller="theme bridge--menu-button <%= "bridge--notification-token" if user_signed_in? %>" data-theme-preference-value="<%= current_user&.theme %>">
<!--<header>-->
  <%#= impersonation_banner %>
<!--</header>-->

<main class="flex h-screen max-w-screen">
  <%= render "sidebar", chats: @chats || current_user.chats %>

  <div class="flex flex-col flex-grow w-full px-4" data-controller="chat">
    <%= render "main_header" %>

    <%= yield %>
  </div>
</main>

<%#= render "footer" unless hotwire_native_app? %>
</body>
</html>
