<!DOCTYPE html>
<html class="<%= class_names(dark: current_user&.dark_theme?, "hotwire-native": hotwire_native_app?) %>" lang="<%= I18n.locale %>">
<head>
  <%= render "head" %>
</head>
<body data-controller="theme bridge--menu-button <%= "bridge--notification-token" if user_signed_in? %>" data-theme-preference-value="<%= current_user&.theme %>">
<header>
  <%= impersonation_banner %>

  <%= content_for :header %>
</header>

<main class="flex h-screen">
  <%= render "sidebar", chats: @chats || current_user.chats %>

  <div class="flex-grow bg-white dark:bg-gray-800 px-4 py-2 overflow-y-auto">
    <%= render "flash" %>
    <%= render "navbar" %>
    <%= yield %>
  </div>
</main>

<%= render "footer" unless hotwire_native_app? %>
</body>
</html>
